.folderBody {
  padding-left: 20%;
}

.folderName {
  font-size: 15px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.activeFolder {
  font-weight: 900;
}

.unreadMailNumbers {
  margin-left: 30%;
}
