.actionBarContent {
  height: 39px;
  width: 100%;
  background-color: #eef5fb;
}

.section {
  height: 100%;
  padding: 0.5% 1%;
}

.searchInput {
  outline: none;
  border: none;
  width: 89%;
  background: transparent;
  color: gray;
}
